html{
box-sizing: border-box;
}
.main{
    border-radius: 10px;
    margin: auto ;
    background-color: rgba(199, 199, 199, 0.6);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}.header {
    text-align: center;
    padding: 00px 10px;
}
#title {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 70px ;
}

 .img-div {

     width: 97%;
     margin: auto;
     padding: 0 0px 0px ;
     background-color: rgba(255, 255, 255, 0.637);
     border-radius: 20px;
 }

#image {
    display: block;
    position: relative  ;
    top: 0px;
    height: 100%;
    width: 60%;
    margin: 0 auto  ;

}
#tribute-info{
    margin: auto ;
    width: 50%;
}
ul{
    margin: auto;

}
.link-outside {
    font-size: 1em;
    line-height: 1.5;
    font-weight: bolder;
    font-style: ;
    text-align: center;
}
#tribute-link{
    color: lightslategrey;
}
#tribute-link :hover{
    background-color: greenyellow;
}
#tribute-link :visited{
    color: lightslategrey;
    }


.up-g {
    margin: auto;
    width: 60%;
   
}


div.gallery {
    display: none;
    margin: 20px;
    border: 1px solid #ccc;
    width: 180px;
    display: ;
  }
.up-g:hover div.gallery{
    display: inline-block;
}
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
